.profile {
  width: 1280px;
	display: flex;
	flex-direction: column;
  align-items: center;
	color: #fff;
	padding: 74px 0 70px 0;
	margin: 0 auto;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .profile {
    max-width: 100%;
		margin-top: 236px;
	}
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .profile {
    max-width: 100%;
		margin-top: 70px;
	}
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
display: flex;
flex-direction: column;
width: 410px;
margin-top: 123px;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .profile__form {
    max-width: calc(100% - 60px);
	}
}

.profile__wrapper {
	width: 100%;
	position: relative;
	margin-bottom: 16px;
	border-bottom: 2px solid #424242;
	padding: 0 0 16px 0;
}

.profile__input {
	width: 100%;
	border: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	background-color: transparent;
	color: #fff;
	outline: none;
	text-align: right;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .profile__input {
    max-width: 100%;
	}
}

.profile__label {
	position: absolute;
	left:0;
	top:5px;
	font-weight: 500;
	font-size: 11px;
	line-height: 13px;
}

.profile__wrapper:last-of-type {
	border-bottom: none;
	padding: 0;
	margin-bottom: 220px;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .profile__wrapper:last-of-type {
    margin-bottom: 379px;
	}
}

.profile__button {
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 16px;
	cursor: pointer;
}

.profile__button:hover {
	opacity: 0.6;
	transition-duration: 1s;
}

.profile__link {
	color: #EE3465;
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
}

.profile__link:hover {
	opacity: 0.6;
	transition-duration: 1s;
}