.promo {
	max-width: 100%;
	background-color:#5C5C5C;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 0 auto;
}

.promo__title {
  max-width: 730px;
  color: #fff;
  text-align: center;
	font-weight: normal;
	font-size: 50px;
	line-height: 58px;
	margin: 160px auto 151px auto;
	letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
	.promo__title {
		max-width: 680px;
		margin: 350px auto 314px auto;
		font-size: 40px;
		line-height: 52px;
	}
}

@media screen and (max-width: 767px) and (min-width: 300px) {
	.promo__title {
		margin: 215px auto 212px auto;
		font-size: 29px;
    line-height: 37px;
	}
}