.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5C5C5C;
  padding-top: 18px;
  padding-left: 47px;
  margin: 0;
  column-gap: 43px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .header {
    justify-content: space-around;
    column-gap: 428px;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .header {
    justify-content: space-around;
    column-gap: 94px;
    padding-left: 0;
  }
}

.header_active {
  background-color: #FFFFFF;
  column-gap: 44px;
  margin: 0 14px 0 0;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .header_active {
    gap: 558px;
    padding-top: 15px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .header_active {
    gap: 188px;
    padding-top: 15px;
    margin-left: 0;
    justify-content: space-around;
  }
}

.logo {
  background-image: url(../../images/logo.svg);
	width: 38px;
	height: 38px;
}

.logo:hover {
	opacity: 0.6;
	transition-duration: 1s;
}

.header__wrapper {
  align-self: center;
  margin-right: 49px;
}

@media screen and (max-width: 1279px) and (min-width: 300px) {
  .header__wrapper {
margin-right: 0;
  }
}

