.about{
    padding: 0 5.47%;
}

.about__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    width: 100%;
    border-bottom: solid 1px #000000;
    padding-bottom: 23px;
    margin: 9.65% 0 70px;
}

.about__content{
    display: flex;
    gap: 3.51%;
}

.about__subtitle{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    font-weight: 400;
    margin-bottom: 2.28%;
}

.about__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about__timeline{
    margin-top: 9.65%;
    display: grid;
    gap: 5px 0;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 36px 36px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

div .about__weeks, .about__notes{
    padding-top: 9px;
}

.about__timeline span:nth-child(1){
    background-color: #2BE080;
}

.about__timeline span:nth-child(2){
    background-color: #F2F2F2;
}

.about__weeks{
    font-weight: 400;
}

.about__notes{
    font-weight: 500;
    color: #A0A0A0;
}

@media screen and (max-width: 1110px) {

    .about{
        padding: 0 4.69%;
    }

    .about__title{
        margin-top: 11.56%;
    }

    .about__content{
        gap: 4%;
    }

    .about__subtitle{
        margin-bottom: 2.62%;
    }  
  
    .about__text{
        font-size: 13px;
        line-height: 19px;
    }

    .about__timeline{
        margin-top: 11.79%;
        grid-template-columns: 26.5% 73.5%;
    }
}

@media screen and (max-width: 940px) {

    .about{
        padding: 0 6.51%;
    }

    .about__title{
        margin-top: 13.47%;
    }

    .about__content{
        gap: 4.49%;
    }


    .about__subtitle{
        margin-bottom: 3.29%;
    }
    
    .about__text{
        font-size: 12px;
        line-height: 18px;
    }

    .about__timeline{
        margin-top: 13.92%;
    }

    
}

@media screen and (max-width: 520px) {

    .about{
        padding: 0 6.95%;
    }

    .about__title{
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 4.46%;
        margin: 18.11% 0 11.38%;
    }

    .about__content{
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .about__subtitle{
        font-size: 19px;
        line-height: 23px;
        margin-bottom: 4%;
    }
    
    .about__text{
        line-height: 17px;
    }

    .about__timeline{
        margin-top: 17.3%;
        gap: 2px 0;
        grid-template-columns: 28% 72%;
        grid-template-rows: 36px 36px;
        font-size: 12px;
        line-height: 15px;
    }

    .about__timeline span{
        padding-top: 10px;
    }

}

@media screen and (max-width: 410px) {

    .about{
        padding: 0 5.63%;
    }

    .about__title{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 9.86%;
        margin: 24.65% 0 21.13%;
    }


    .about__subtitle{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5.63%;
    }
    
    .about__text{
        font-size: 11px;
        line-height: 16px;
    }

    .about__timeline{
        margin-top: 21.13%;
        gap: -1px 0;
        grid-template-columns: 35% 65%;
        grid-template-rows: 35px 35px;
        font-size: 11px;
        line-height: 13px;
    }

    div .about__weeks, .about__notes{
        padding-top: 9px;
    }

}