.navtab {
	display: flex;
}

.navtab__element {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 36px;
  background-color: #303030;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
	color: #fff;
	margin-right: 10px;
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.navtab__element:hover {
	opacity: 0.6;
	transition-duration: 1s;
}

@media screen and (max-width: 768px) {
	.navtab__element {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 450px) {
	.navtab__element {
		margin-bottom: 17px;
		margin-right: 6px;
		width: 82px;
    height: 26px;
		font-size: 10px;
    line-height: 16px;
	}
}

.navtab__element:last-child {
	margin-right: 0;
}