.navtab {
	display: flex;
	position: absolute;
	bottom: 41px;
	left: 69px;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  .navtab {
    bottom: 12px;
    left: 95px;
  }
}

.navtab__element {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 129px;
  height: 36px;
  background-color: #5C5C5C;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
	color: #fff;
	margin-right: 10px;
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.navtab__element:hover {
	opacity: 0.6;
	transition-duration: 1s;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
 .navtab__element {
 margin-left: 248px;
 }
}

@media screen and (max-width: 767px) {
	.navtab__element {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 450px) {
	.navtab__element {
		margin-bottom: 17px;
		margin-right: 6px;
		font-size: 10px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
	}
}

